*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.main-form h2 {
    text-align: center;
}

.btn-form,
.register{
    text-align: center;
}

.btn-sign {
    width: 100%;
    text-align: center;
}

.btn-login
{
}

.btn-regis {
    display: flex;
    justify-content: center;
}
.icon-gg {
    justify-content: center;
    font-size: 25px;
}